// browser scrollbar
$scroll-track: #ececec;
$scroll-thumb: #bdbdbd;
$scroll-thumb-hover: #888888;

// primary colors
$white: #ffffff;
$black: #000000;

// theme color
$blue: #0068ff;
$green: #20945c;
$yellow: #fdb45e;
$red: #fd3638;
$grey: #596d86;
$orange: #ee5500;
$purple: #6a21d8;

// disable
$disable: #f4f5f7;
$disborder: #e3e5e9;

// notification
$notired: #fa4040;
$notiredlight: #ffecec;
$notigreen: #17a63b;
$notigreenlight: #ddfae5;
$notiyellow: #fe8217;
$notiyellowlight: #feefe2;
$notiblue: #1172ff;
$notibluelight: #e6f0ff;

// component
$transparent: 1px solid transparent;